<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tripIntent"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--For using the default camera-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--For maps-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--For SOS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!--For Chat-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">


        </activity>

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/app_name">



        </activity>

        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--&gt;-->


        <!--</activity>-->
        <activity android:name=".camera.SQLiteDemoActivity"
            android:label="@string/app_name">




        </activity>

        <activity android:name=".camera.DisplayImageActivity"
            android:label="@string/app_name">

        </activity>

        <!--SOS activities-->
        <activity android:name="com.example.android.tripIntent.sos.MainActivity">

        </activity>
        <activity
            android:name="com.example.android.tripIntent.sos.SecondActivity"
            >
        </activity>
        <activity
            android:name="com.example.android.tripIntent.sos.ThirdActivity"
            >
        </activity>

        <!--Chat activity-->
        <activity android:name=".chat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".chat.CreateGroup" />
        <activity android:name=".chat.RegisterActivity" />

        <activity android:name=".chat.LoginActivity" >

        </activity>

        <activity android:name=".chat.SetupActivity" />
        <activity
            android:name=".chat.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name="com.example.android.tripIntent.chat.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.example.android.tripIntent.chat.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>



    </application>

</manifest>